// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//react-table
@import '~react-table/react-table.css';

//react-slick
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$primary-overlay: rgba(0, 0, 0, 0.9);
$adjusted_vp_height: calc(100vh - 170px);

html {
    position: relative;
    min-height: 100vh;
}

body {
    padding-top: 90px;
    background-color: #333;
    margin-bottom: 80px;
}

#HomeCarousel {
    h1 {
        border-bottom: 3px $primary solid;
    }
    img {
        max-height: $adjusted_vp_height;
        margin: 0 auto;
    }
    .slick-dots li button:before {
        color: $white;
    }
    .slick-prev {
        left: 1% !important;
        z-index: 1;
    }
    .slick-next {
        right: 1% !important;
        z-index: 1;
    }

    .slick-initialized .slick-slide {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .card {
        max-height: $adjusted_vp_height;
    }
    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
}

#authors img {
    margin-top: -50px;
}
#authors .card:hover {
    background: $primary;
    color: $white;
    i {
        color: $white;
    }
}
#authors .fab {
    color: $primary;
}

.flex-container {
    height: $adjusted_vp_height;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 60px;
}

.navbar {
    box-shadow: 2px 2px 5px $primary;

    .nav-item {
        font-size: 1.2rem;
        padding-right: 1.2rem;
        border-right: 2px $primary;

        .active {
            border-left: $primary 3px solid;
            padding-left: 0.5rem;
        }
    }
    .nav-link {
        color: $white;
    }
}

#latestPost {
    .card-header {
        color: $secondary;
        a {
            color: $secondary;
        }
    }
    .card-body {
        border-top: 3px $primary solid;
        color: $secondary;
    }
    .card-footer {
        border-top: 1px $primary solid;
        word-wrap: normal !important;
    }
}

#postList,
#bandShow,
#contact,
#postShow {
    .card-header {
        color: $secondary;
        a {
            color: $secondary;
        }
    }
    .card-body {
        border-top: 3px $primary solid;
        color: $secondary;
    }
    .card-footer {
        border-top: 1px $primary solid;
        word-wrap: normal !important;
    }
}

#tagShow {
    .card-header {
        color: $secondary;
        a {
            color: $white;
        }
    }
    .card-body {
        border-top: 3px $primary solid;
        color: $secondary;
    }
}

#showcase {
    position: relative;
    background: url('../images/highway.jpeg');
    min-height: 600px;

    .primary-overlay {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#showcaseImage {
    border: 1px $primary solid;
}

.bg-black {
    background: $black;
}

#navbarIcon,
#bandFilterIcon {
    color: $primary;
}

[data-toggle='collapse'] .fa:before {
    content: '\f139';
}

[data-toggle='collapse'].collapsed .fa:before {
    content: '\f13a';
}

#bandList {
    .card {
        min-height: 400px;
        max-height: 800px;
    }
    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
}

.concert-list-item {
    max-height: 420px;

    .col,
    .col-lg-3,
    .col-4 {
        max-height: 420px;
    }

    img {
        max-height: 403px;
    }

    .list-group {
        overflow: auto;
    }
}

.concert-description-box {
    border: 3px $primary solid;
}

#showConcert {
    .row {
        max-height: 500px;
    }
}

// #adminHome {
//     div.rt-tr {
//         align-items: center;
//     }

//     .card-header {
//         background: $primary;
//     }

//     .nav-link:not(.active) {
//         color: $white;
//     }
// }

@media (max-width: 768px) {
    #showcase {
        min-height: 500px;

        h1 {
            font-size: 4rem;
        }
    }
}
